.section_title{
	color: #fff;
	display: inline;
}
.navbar-title{
	color: #b3cc92;
	font-size: 2rem;
}
.jumbotron {
    padding-bottom: 0px;
    padding-top: 0px;
}
@media screen and (min-width: 768px){
.jumbotron {
	padding-top: 0px;
    padding-bottom: 0px;
    }
}

/* League details */
.intro-text{
	-webkit-stroke-width: 8.3px;
   -webkit-stroke-color: #FFFFFF;
   -webkit-fill-color: #FFFFFF;
   text-shadow: 5px 0px 30px black;
   -webkit-transition: width 0.3s; /*Safari & Chrome*/
   transition: width 0.3s;
   -moz-transition: width 0.3s; /* Firefox 4 */
   -o-transition: width 0.3s; /* Opera */
}

.league_box{
	-moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -khtml-border-radius: 2px;
    min-height: 96px;
    margin: 0 0 4px 0;
    cursor: pointer;
    border: 2px solid #ccc;
    background-color: #ffffff;
    color:#484848;
	padding-bottom: 10px;
	transition: all 0.3s;    
}
.league_box:hover{	
    color:white;
    background-color: #6d6d6d;
    
	    
}
.league_box_date {
	float: left;
    display: block;
    width: 100px;
    height: 100px;
    padding: 2px 10px;
    margin-right: 10px;
	background: url('../img/red-news-date-bg.png') 0 0 no-repeat ;
}

.match_day_caption{
	display: block;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    padding-top: 10px;
    color: white;
}
.match_day{
	display: block;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    padding-top: 5px;
    font-size: 24px;
    font-weight: bold;
    color: white;
}
.league_box_detail{
	padding: 0 12px 0 114px;
}

.box{
	min-height: 260px;
}

.nav, .pagination, .carousel, .panel-title, a, th {
	cursor: pointer;
}

.processing_div{
	left: 40%;
}

/* end League details */

/* Team Modal */
.modal-title{
	font-size: 5rem;
	margin-left: 1rem;
}
.sub-tittle{
	font-size: 1.2rem
}
.sub-tittle2{
	font-size: 1.2rem;
	cursor: #eee;
	padding-top: 100px;
}
.cell-default{
	background-color: #00667f;
	min-height: 5rem;
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
.cell-danger{
	background-color: #7f0000;
	min-height: 5rem;
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
.cell-success{
	background-color: #ca195a;
	min-height: 5rem;
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
.cell-warning{
	background-color: #3b7f00;
	min-height: 5rem;
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
.cell-head{
	padding: 0.5rem;
	background-color: #1f1f1f;
	text-align: center;
}
.cell-body{
	padding: 0.5rem;
	text-align: center;
	overflow: auto;
}
.cell-title{
	font-size: 1.5rem;
	color: white;
	
}
.cell-detail{
	font-size: 2rem;
	color: white;
	
}
.cell-block, .cell-block-i{
	font-size: 2rem;
	color: white;
	padding: 5px 10px;
	text-align: center;
	display: inline;
}
.cell-block-i{	
	border-right: 1px solid #868686;
}
.accent{
	font-size: 1.8rem;
	color: #355a15;
}

/* End Team Modal */


/* Matches*/

.match_box{
	position: relative;
  border-radius: 3px;
  background: #ffffff;
  border-top: 3px solid #d2d6de;
  margin-bottom: 20px;
  width: 100%;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  min-height: 265px;
}
.match_header{	
	text-align: center;	
	border-bottom: 1px solid #ccc;
}
.match_date{
	font-size: 3rem;
	color: #1b5f02;
}
.match_time {
	font-size: 1.5rem;
	color: #4e4e4e;
}
.match_body{
	overflow: auto
}
.away_team{
	color:#5f5e02;
}
.home_team{
	font-weight: bold;
	color:#134573;
}
.match_left{
	border-right: 1px solid #ccc;	
	
}
.match_right {
	
}
.match_right, .match_left{
	width: 50%;
	float: left;
	padding: 10px;
	text-align: center;
	min-height: 117px;
	-webkit-transition: all 0.3s; /*Safari & Chrome*/
   transition: all 0.3s;
   -moz-transition: all 0.3s; /* Firefox 4 */
   -o-transition: all 0.3s; /* Opera */

}
.match_right:hover, .match_left:hover{
	background-color: #efefef;
	
}
.team_goals{
	font-size: 4rem;
}
.match_footer{
	text-align: center;
	padding: 5px 10px;
	font-size: 2rem;
	border-top: 1px solid #ccc;
}
.match_status_finished{
	color:green;
}
.match_status_timed{
	color:red;
}

/* End Matches*/

@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	/* Force table to not be like tables anymore */
	.tabla-responsiva, .tabla-responsiva thead, .tabla-responsiva tbody, .tabla-responsiva th, .tabla-responsiva td, .tabla-responsiva tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	.tabla-responsiva thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	.tabla-responsiva tr { border: 1px solid #a2d8fb; }
	
	.tabla-responsiva td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
		
	}
		.tabla-responsiva tbody > tr > td:nth-child(1) {
		    font-size: 150%;
		} 
	
		
	.tabla-responsiva td:before { 
		font-weight: bold;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	    margin-bottom: 0.5rem;
	   
	}
	/*
	Label the data
	*/
	.tabla-responsiva td:before { 
	    content: attr(data-label); 
	}
	
	.form-control{
    padding:3px;
    }
	
}

