<div class="col-lg-12">
<div class='uil-spin-css' id="loading" style='-webkit-transform:scale(0.6); display:none;'><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div>

</div>
  
</div>
<div class="row">
  <h2>{{characterOne.character.name}}</h2>
  <div class="row">
  <h5>House: {{characterOne.character.house}}</h5>
    <span class="username">Titles:
    <ul>
      <li ng-repeat="title in characterOne.character.titles"><strong>{{title}}</strong></li>
    </ul>
    </span>
    <p ng-show="characterOne.character.male == true">Gender: <strong>Male</strong></p>
    <p ng-show="characterOne.character.male == false">Gender: < strong>Female</strong></p>
    <span class="username">Appears in books:
      <ul>
        <li ng-repeat="book in characterOne.character.books"><strong>{{book}}</strong></li>
      </ul>

    </span>
  </div>
<!--   <pre>{{characterOne.character | json  }}</pre> -->


</div>