<!-- Title and search bar -->
<div class="row">
	
	<div class="col-md-8">
		<h2 class="section_title ">Favorites</h2>
	</div>
		<div class="col-md-4 ">
		<div class="input-group">
			<input type="text" name="q" ng-model="search" class="form-control" placeholder="Search...">
			<span class="input-group-btn">
				<button type="submit" name="search" id="search-btn" class="btn btn-flat" ng-click="clear_search()"><i class="fa fa-times"></i>
				</button>
			</span>
		</div>
	</div>
</div>
<br><br>

<!-- Processing div -->

	<div class="col-lg-12 " ng-show="favs.processing == true">
		<div class='uil-ripple-css processing_div' style='transform:scale(0.6);'><div></div><div></div></div>
	</div>

<!-- End Processing div -->

<!-- Table with list of favorited teams -->
<div class="row" >
	<div class="col-md-12"  >
		<div class="box box-success" >
			<div class="box-content">
				<div class="box-body">
					<table class="table table-hover tabla-responsiva">
						<thead>
						<tr>
							<th><a ng-click="sortType = 'position'; sortReverse = !sortReverse">Pos.</a></th>
							<th><a ng-click="sortType = 'teamName'; sortReverse = !sortReverse">Team</a></th>
							<th><a ng-click="sortType = 'points'; sortReverse = !sortReverse">Points</a></th>
							<th><a ng-click="sortType = 'playedGames'; sortReverse = !sortReverse">P</a></th>
							<th><a ng-click="sortType = 'wins'; sortReverse = !sortReverse">W</a></th>
							<th><a ng-click="sortType = 'losses'; sortReverse = !sortReverse">L</a></th>
							<th><a ng-click="sortType = 'draws'; sortReverse = !sortReverse">D</a></th>
							<th><a ng-click="sortType = 'goals'; sortReverse = !sortReverse">GF</a></th>
							<th><a ng-click="sortType = 'goalsAgainst'; sortReverse = !sortReverse">GA</a></th>
							<th><a ng-click="sortType = 'goalDifference'; sortReverse = !sortReverse">GD</a></th>
						</tr>
						</thead>
						<tbody>							
							<tr ng-repeat="team in favs.fav_teams | filter : search | orderBy:sortType:sortReverse" ng-animate="'animate'">
								<td data-label="Position in league">{{team.position || team.rank}}</td>
								<td>
									<a href="javascript:void(0)" ng-click="favs.open(team)"><img src="{{team.crestURI}}" alt="{{team.teamName}}_flag" width="30"> {{team.teamName || team.team}}</a>
									<a href="#/league/{{team.league_id}}" class="btn btn-warning pull-right">League</a>
								</td>
								<td data-label="Points">{{team.points}}</td>
								<td data-label="Games">{{team.playedGames}}</td>
								<td data-label="Wins">{{team.wins}}</td>
								<td data-label="Losses">{{team.losses}}</td>
								<td data-label="Draws">{{team.draws}}</td>
								<td data-label="Goals">{{team.goals}}</td>
								<td data-label="Goals against">{{team.goalsAgainst}}</td>
								<td data-label="Goal Diff.">{{team.goalDifference}}</td>
								<td><a class="btn btn-success" href="./#/team/fixtures/{{team.team_id}}">Matches</a</td>
								<td><button class="btn btn-danger" ng-click="unfav(team)"><i class="fa fa-trash" aria-hidden="true"></i></button></td>
							</tr>						
						</tbody>
					</table>
				</div>
			</div>	
		</div>
	</div>
	 
</div>

