<!-- Title and search bar -->
<div class="row">
	<div class="col-md-2 ">		
		<div class="league_box_date">
			<span class="match_day_caption">Match day:</span>
			<span class="match_day">{{league.league_detail.matchday}}</span>
		</div>		
	</div>
	<div class="col-md-6">
		<h2 class="section_title ">{{league.league_detail.leagueCaption}} </h2>
	</div>
	<div class="col-md-4 ">
		<div class="input-group">
			<input type="text" name="q" ng-model="search" class="form-control" placeholder="Search...">
			<span class="input-group-btn">
				<button type="submit" name="search" id="search-btn" class="btn btn-flat" ng-click="clear_search()"><i class="fa fa-times"></i>
				</button>
			</span>
		</div>
	</div>
</div>
<br><br>

<!-- Processing div -->

	<div class="col-lg-12 " ng-show="league.processing == true">
		<div class='uil-ripple-css processing_div' style='transform:scale(0.6);'><div></div><div></div></div>
	</div>

<!-- End Processing div -->

<!-- Table for league with groups -->
<div class="row" ng-if="league.groups">
	<div class="col-md-6"  ng-repeat="group in league.groups">
		<div class="box box-success" >
			<div class="box-content">
				<div class="box-body">
					<table class="table table-hover tabla-responsiva">
						<thead>
							<th><a ng-click="sortType = 'position'; sortReverse = !sortReverse">Pos.</a></th>
							<th><a ng-click="sortType = 'teamName'; sortReverse = !sortReverse">Team</a></th>
							<th><a ng-click="sortType = 'points'; sortReverse = !sortReverse">Points</a></th>
							<th><a ng-click="sortType = 'playedGames'; sortReverse = !sortReverse">P</a></th>
							<th><a ng-click="sortType = 'goals'; sortReverse = !sortReverse">GF</a></th>
							<th><a ng-click="sortType = 'goalsAgainst'; sortReverse = !sortReverse">GA</a></th>
							<th><a ng-click="sortType = 'goalDifference'; sortReverse = !sortReverse">GD</a></th>
							<th>Group</th>
							<th></th>
						</thead>
						<tbody >
							<tr ng-repeat="team in group | filter : search | orderBy:sortType:sortReverse" ng-animate="'animate'">
								<td>{{team.rank}}</td>
								<td>
									<a href="javascript:void(0)" ng-click="league.open(team, league.league_detail.league_id)">
									<img ng-src="{{team.crestURI}}" alt="{{team.team}}_flag" width="30" > {{team.team}}
									</a>
								</td>
								<td data-label="Points">{{team.points}}</td>
								<td data-label="Games">{{team.playedGames}}</td>
								<td data-label="Goals">{{team.goals}}</td>
								<td data-label="Goals against">{{team.goalsAgainst}}</td>
								<td data-label="Goal Diff.">{{team.goalDifference}}</td>
								<td data-label="Group">{{team.group}}</td>
								<td><a class="btn btn-success" href="./#/team/fixtures/{{team.teamId}}">Matches</a></td>
							</tr>						
						</tbody>
					</table>
				</div>
			</div>	
		</div>
		<!-- End box -->
	</div>
	<!-- End col -->
</div>
<!-- End row -->

<!-- If there are no details -->
<div class="row" ng-show="!league.teams && !league.groups">
	<h3 class="sub-title2">Ever seen a league table for that competition?</h3>
</div>

<!-- Table for league without groups -->
<div class="row" ng-if="league.teams">
	<div class="col-md-12" >
		<div class="box box-success" >
			<div class="box-content">
				<div class="box-body">
					<table class="table table-hover tabla-responsiva">
						<thead>
						<tr>
							<th><a ng-click="sortType = 'position'; sortReverse = !sortReverse">Pos.</a></th>
							<th><a ng-click="sortType = 'teamName'; sortReverse = !sortReverse">Team</a></th>
							<th><a ng-click="sortType = 'points'; sortReverse = !sortReverse">Points</a></th>
							<th><a ng-click="sortType = 'playedGames'; sortReverse = !sortReverse">P</a></th>
							<th><a ng-click="sortType = 'wins'; sortReverse = !sortReverse">W</a></th>
							<th><a ng-click="sortType = 'losses'; sortReverse = !sortReverse">L</a></th>
							<th><a ng-click="sortType = 'draws'; sortReverse = !sortReverse">D</a></th>
							<th><a ng-click="sortType = 'goals'; sortReverse = !sortReverse">GF</a></th>
							<th><a ng-click="sortType = 'goalsAgainst'; sortReverse = !sortReverse">GA</a></th>
							<th><a ng-click="sortType = 'goalDifference'; sortReverse = !sortReverse">GD</a></th>
							<th></th>
						</tr>
						</thead>
						<tbody >							
							<tr ng-repeat="team in league.teams | filter : search | orderBy:sortType:sortReverse" ng-animate="'animate'" >
								<td data-label="Position">{{team.position}}</td>
								<td >
									<a href="javascript:void(0)" ng-click="league.open(team, league.league_detail.league_id)"><img ng-src="{{team.crestURI}}" alt="{{team.teamName}}_flag" width="30" check-image> 
									{{team.teamName}}</a>
									<button class="btn btn-danger pull-right" id="fav_btn" 
										type="button" ng-click="fav(team)" ng-hide="team.favorited == true">Favorite
									</button>
									<button class="btn btn-default pull-right" id="unfav_btn" 
						        	type="button" ng-click="unfav(team)" ng-show="team.favorited == true">UnFavorite
						        	</button>
								</td>
								<td data-label="Points">{{team.points}}</td>
								<td data-label="Games">{{team.playedGames}}</td>
								<td data-label="Wins">{{team.wins}}</td>
								<td data-label="Losses">{{team.losses}}</td>
								<td data-label="Draws">{{team.draws}}</td>
								<td data-label="Goals">{{team.goals}}</td>
								<td data-label="Goals against">{{team.goalsAgainst}}</td>
								<td data-label="Goal Diff.">{{team.goalDifference}}</td>
								<td ><a class="btn btn-success" href="./#/team/fixtures/{{team.teamId}}">Matches</a</td>
								
							</tr>						
						</tbody>
					</table>
				</div>
			</div>	
		</div>
		<!-- End box -->
	</div>
	 <!-- End col -->
</div>
<!-- End row -->

